td {
  padding-right: 1em;
}

td[data-class=icon] {
  font-size: 1.7em;
}
td[data-class=ops] {
  cursor: pointer;
}

td[draggable] {
  cursor: move;
}

form input {
  width: 45em !important;
}

ui-behind {
  text-transform: capitalize;
  color: white;
  font-weight: bold;
}

[is="x-ui"] table.ui-table {
  border-collapse: collapse;
}
[is="x-ui"] table.ui-table thead th {
  font-weight: bold;
  text-align: left;
  padding: 0.3em 0.5em;
}
[is="x-ui"] table.ui-table tbody td {
  padding: 0.3em 0.5em;
}
[is="x-ui"] table.ui-table tbody tr:nth-child(odd) td {
  background-color: var(--x-ui-content-light-background);
}
[is="x-ui"] table.ui-table tbody tr:hover td {
  background-color: var(--x-ui-content-hover-background);
}

[is="x-ui"] table.ui-table tbody tr:nth-child(odd) td:last-child {
  background-color: #d0d0d0;
}
[is="x-ui"] table.ui-table tbody tr:hover td:last-child {
  background-color: #99cee6b0;
}
